:root {
  --admin-color-black: #2c2c2c;
  --user-color-black:#080A0B;
  --user-color-black-op:#17191A;
  --admin-color-white: #fff;
  --admin-color-black-op: #444444;
  --admin-color-gray: #f7f7f7;
  --admin-color-blue: #6cb5e0;
  --admin-color-pink: #f09bae;
}
/*         شروع ادمین               */
.login-back {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  img {
    width: 40%;
    position: absolute;
    left: 50%;
    z-index: -1;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(35px);
  }
}

.admin-login-box {
  width: calc(50%);
  margin: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.admin-login-box-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--admin-color-white);
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.admin-login-box-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 4rem;
    width: calc(100% - 4rem);
  }
}
.admin-login-box-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  label {
    color: var(--admin-color-blue);
  }
  input {
    background-color: var(--admin-color-black-op);
    border: 2px solid var(--admin-color-black-op);
    padding: 8px 16px;
    color: var(--admin-color-blue);
    border-radius: 5px;
  }
  input:focus {
    outline: none;
    border: 2px solid var(--admin-color-blue);
  }
}
.admin-login-box-btn {
  width: 100%;
}
.admin-sidebar {
  width: calc(20% - 1rem);
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  height: 100vh;
  margin: 0 0 0 auto;
  background-color: var(--admin-color-black);
  border-radius: 5px 0 0 5px;
}
.admin-page {
  display: flex;
  width: 100%;
  min-height: 120vh;
  padding-bottom: 5rem;
  background-color: var(--admin-color-gray);
}
.admin-sidebar-top {
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  margin: 1rem auto;
  gap: 20px;
  img {
    width: 40px;
  }
  h2 {
    color: var(--admin-color-gray);
  }
}
.admin-sidebar-body {
  width: calc(100% - 2rem);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin-sidebar-body-link {
  border-radius: 5px;
  a {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    gap: 20px;
    padding: 0.5rem 0;
    color: var(--admin-color-gray) !important;
    img {
      width: 20px;
      margin-right: 15px;
    }
    div{
      aspect-ratio: 1;
      width: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--admin-color-pink);
      h6{
        margin: auto;
      }
    }
  }
}
.alert{
  color: var(--admin-color-black-op);
  background-color: var(--admin-color-pink);
  font-weight: 900;
}
.sidebar-active,
.admin-sidebar-body-link:hover {
  background-color: var(--admin-color-black-op);
  
}
.sidebar-active{
  h6{
    color: var(--admin-color-blue);
  }
}
.admin-sidebar-down {
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% - 2rem);
}

.admin-sidebar-down-account {
  display: flex;
  width: 100%;
}
.admin-sidebar-down-account-img {
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  img {
    border-radius: 50%;
    width: 40px;
  }
}
.admin-sidebar-down-account-role {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--admin-color-gray);
}

.admin-content {
  width: calc(80% - 1rem);
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 1rem;
}
.admin-content-top {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  align-items: center;
}
.admin-content-top-name {
  width: calc(20% - 1rem);
  margin: 0 0 0 auto;
  h1,
  h4 {
    color: var(--admin-color-black) !important;
  }
  h4{
    display: none;
  }
}
.admin-content-top-date {
  width: calc(20% - 1rem);
  margin: 0 auto 0 0;
  text-align: center;
  h4 {
    color: var(--admin-color-black) !important;
  }
}
.admin-content-top-search {
  width: calc(60% - 1rem);
  margin: auto;
  display: flex;
  form {
    width: 100%;
    position: relative;
    display: flex;
    input {
      width: 100%;
      padding: 1rem;
      border-radius: 5px;
      border: none;
      background-color: var(--admin-color-white);
    }
    input:focus {
      outline: none;
    }
    button {
      position: absolute;
      left: 2%;
      top: 25%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      img {
        width: 25px;
      }
    }
  }
}
.admin-content-box {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
  justify-content: space-between;
}
.admin-content-box-div {
  width: calc(25% - 1rem);
  display: flex;
  flex-direction: column;
  background-color: var(--admin-color-white);
  border-radius: 5px;
}
.admin-content-box-div-top {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  width: calc(100% - 2rem);
  justify-content: space-between;
  h5,
  h3 {
    color: var(--admin-color-black-op);
  }
  div {
    padding: 7px;
    background-color: var(--admin-color-gray);
    display: flex;
    border-radius: 50%;
    aspect-ratio: 1;
    img {
      width: 20px;
    }
  }
}

.admin-content-box-div-body {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  h3,
  h4 {
    font-weight: 900;
    color: var(--admin-color-black-op);
  }
}
.admin-content-table {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}
.admin-content-table-div {
  width: calc(50% - 0.5rem);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--admin-color-white);
}
.admin-content-table-div-top {
  width: calc(100% - 4rem);
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a,
  h4 {
    color: var(--admin-color-black-op);
  }
}

.admin-content-table-div-body {
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
}

.admin-table-row {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.admin-table-row-data {
  width: fit-content;
  margin: auto;
  h6,
  a {
    color: var(--admin-color-black-op);
  }
  a::after {
    content: "\002710";
  }
}
.admin-table-row-data-img {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  overflow: hidden;
  aspect-ratio: 1;
  div{
    display: flex;
    margin: auto;
    img {
      border-radius: 50%;
      width: 40px;
    }
  }
}
.admin-table-row-data-img-course{
  width: 80px !important;
  border-radius: 5px !important;
}

.admin-content-table-form{
  width: calc(100% - 4rem);
  margin: 2rem auto;
  display: flex;
  form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}
.form-row{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form-row-input{
  width: calc(50% - .5rem );
  display: flex;
  gap: 5px;
  flex-direction: column;
  input , select{
    padding: .5rem .5rem;
    border: 1px solid var(--admin-color-black-op);
    border-radius: 5px;
  }
  input[type='checkbox']{
    width: 30px;
    margin: auto;
    cursor: pointer;
    height: 30px;
  }
}
.form-row-textarea{
  width: calc(100% - 2rem);
  margin: auto;
  width: calc(100% );
  display: flex;
  gap: 5px;
  flex-direction: column;
  textarea{
    padding: .5rem .5rem;
    border: 1px solid var(--admin-color-black-op);
    border-radius: 5px;
    min-height: 30vh;
  }
}
.form-row-btn{
  width: calc(100%);
  margin: auto;
}
.admin-content-table-div-edit{
  width: 100%;
}
input:focus , textarea:focus{
  outline: none;
}



/*        تکمیل ادمین                  */


/*          شروع کاربران               */
.user-home{
  background-color: var(--user-color-black);
}
/*      HEADER START        */
header{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

.header-logo{
  width: calc(30% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  a{
    color: var(--admin-color-blue);
  }
  a:hover{
    color: var(--admin-color-gray);
  }
}
.header-links{
  width: calc(40% - 2rem);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links-div{
  a{
    font-weight: 900;
    color: var(--admin-color-white);
  }
  a:hover{
    color: var(--admin-color-blue);
  }
}
.header-btn{
  width: calc(30% - 2rem);
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  div{
    a{
      font-weight: 900;
      color: var(--admin-color-gray);
    }
    a:hover{
      color: var(--admin-color-blue);
    }
    .bu-btn{
      padding: 0 1rem;
      border-radius: 999px;
    }
  }
}
.header-res-btn , .header-res{
  display: none;
}


/*      HEADER DONE        */

/*      BANNER START        */
.banner{
  width: calc(100% - 2rem);
  margin: 4rem auto;
  display: flex;
}
.banner-right{
  width: calc(65% - 1rem);
  margin: auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.banner-right-top{
  justify-content: center;
  display: flex;
  h1{
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center ;
    color: var(--admin-color-gray);
    span.blue{
      color: var(--admin-color-blue);
    }
  }
}
.banner-right-body{
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: center;
  gap: 30px;
  align-items: center;
  div{
    h6{
      color: var(--admin-color-gray);
    }
  }
}
.banner-right-body-btn{
  width: calc(25%);
}
.banner-right-body-text{
  width: calc(75%);
}

.banner-left{
  width: calc(35% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}
.banner-left-img-main{
  width: 80%;
  z-index: 0;
  aspect-ratio: 1;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  img.main-img{
    width: 100%;
  }
}

.top-left-img{
  width: 30%;
  position: absolute;
  top: 0%;
  left: 3%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.top-right-img{
  width: 20%;
  position: absolute;
  top: 20%;
  right: 5%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.body-left-img{
  width: 25%;
  position: absolute;
  bottom: 8%;
  left: 5%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.down-left-img{
  width: 20%;
  position: absolute;
  bottom: -10%;
  left: 24%;
  aspect-ratio: 1;
  z-index: -1;
  border-radius: 50%;
}

/* BANNER DONE        */
/* COURSE BOX START        */

.course-box{
  width: 100%;
  background-color: var(--user-color-black-op);
  min-height: 50vh;
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
}
.course-box-top{
  width: calc(100% - 4rem);
  margin: 4rem auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    width: 100%;
    height: 2px;
    background-color: var(--admin-color-black-op);
  }
}
.course-box-info{
  width: calc(100% - 6rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    p{
      font-weight: 800;
      color: var(--admin-color-gray);
    }
  }
}
.course-box-body{
  width: calc(100% - 2rem);
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.course-card{
  width: calc(33% - 2rem);
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  background-color: var(--user-color-black);
  flex-direction: column;
}

.course-card-img{
  width: 100%;
  aspect-ratio: 16/9;
  a{
    width: 100%;
    aspect-ratio: 16/9;
    img{
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}

.course-card-info{
  width: calc(100% - 2rem);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.course-card-info-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: var(--admin-color-blue);
  }
  p{
    color: var(--admin-color-gray);
  }
}

.course-card-info-desc{
  p{
    color: var(--admin-color-gray);
  }
}
.course-card-info-down{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.course-card-info-down-time{
  p{
    color: var(--admin-color-gray);
  }
}
.course-card-info-down-price{
  display: flex;
  flex-direction: column;
  h6{
    color: var(--admin-color-blue);
  }
}
.discount-price{
  text-decoration-color: var(--admin-color-pink);
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-decoration-line:line-through;
}
.client-box{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.client-box-top{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  h2 , h5 {
    color: var(--admin-color-gray);
    span{
      color: var(--admin-color-blue);
    }
  }
}
.client-box-body{
  width: calc(100% - 2rem);
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.client-card{
  width: calc(33% - 1rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.client-card-main{
  background-color: var(--user-color-black-op);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.client-card-main-blue{
  background-color: var(--admin-color-blue);
}
.client-card-main-img{
  width: calc(100% - 4rem);
  margin: 4rem auto;
  display: flex;
  justify-content: center;
}
.client-card-main-text{
  width: calc(100% - 4rem);
  margin: 0 auto 2rem;
  position: relative;
  p{
    text-align: center;
    color: var(--admin-color-gray);
  }
}
.client-card-img{
  width: 100%;
  display: flex;
  justify-content: center;
  div{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
}
.tringle{
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 40px solid var(--user-color-black-op);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.exp-card{
  width: calc(50% - 2rem);
  margin: 2rem auto;
  display: flex;
  background-color: var(--user-color-black);
  border-radius: 5px;
  gap: 1rem;
  overflow: hidden;
}
.exp-card-right{
  width: calc(40%);
  display: flex;
  a{
    display: flex;
    width: 100%;
    img{
      width: 100%;
    }
  }
}

.exp-card-left{
  width: calc(60%);
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  a {
    color: var(--admin-color-blue);
    width: calc(100% - 2rem);
    margin: auto;
  }
  p{
    color: var(--admin-color-gray);
    width: calc(100% - 2rem);
    margin: auto;
  }
}



.blog-card{
  background-color: var(--admin-color-black-op);
}
/*        FOOTER        */
footer{
  background-color: var(--user-color-black-op);
  display: flex;
  margin: 4rem 0 0  ;
  flex-direction: column;
}
.footer-top{
  width: calc(100% - 4rem);
  margin: 5rem auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  div{
    width: calc(50%);
    p{
      color: var(--admin-color-gray);
    }
  }
  .btn{
    width: calc(20%);
  }
}
.footer-body{
  width: calc(100% - 4rem);
  margin: auto;
  padding: 4rem 0 ;
  display: flex;
  border-top: 1px solid var(--admin-color-gray) ;
  border-bottom: 1px solid var(--admin-color-gray) ;
}
.footer-body-main{
  width: calc(40% - 2rem);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto;
}

.footer-body-main-top{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  img{
    width: 70px;
  }
  p{
    color: var(--admin-color-blue);
  }
}
.footer-body-main-link{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  div{
    a{
      display: flex;
      flex-direction: column;
      color: var(--admin-color-gray);
      img{
        width: 100px;
      }
    }
  }
}
.footer-body-link{
  width: calc(30% - 2rem);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
}

.enamad-center{
  align-items: center;
  div{
    a{
      display: flex;
      justify-content: center;
      align-items: center;
        
    }
  }
}
.footer-down{
  width: 100%;
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--admin-color-gray);
  a{
    color: var(--admin-color-blue);
  }
}


/*           COURSE INFO                 */

.course-info-top{
  width: calc(100% - 6rem);
  margin: 2rem auto;
  gap: 2rem;
  display: flex;
}
.course-info-top-img{
  width: calc(40%);
  display: flex;
  border-radius: 5px ;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.course-info-top-text{
  width: calc(60%);
  display: flex;
  color: var(--admin-color-gray);
  flex-direction: column;
  justify-content: space-between;
}
.course-info-top-text-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  h1{
    width: 60%;
  }
}
.course-info-top-text-time{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.course-info-body{
  width: calc(100% - 4rem);
  margin: auto;
  display: flex;
}
.course-info-body-video{
  width: calc(40% - 2rem);
  margin: 0 auto;
  height: fit-content;
  border-radius: 5px;
  background-color: var(--user-color-black-op);
  display: flex;
  border: 2px solid var(--admin-color-gray);
  flex-direction: column;
}
.course-info-body-video-top{
  width: calc(100% - 4rem) ;
  margin: 2rem auto;
  display: flex;
  color: var(--admin-color-gray);
  justify-content: center;
}
.course-info-body-video-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 ;
  border-top: 2px solid var(--admin-color-gray);
}
.video-card{
  width: calc(100% - 2rem);
  margin: auto;
  display: flex;
  align-items: center;
  background-color: var(--admin-color-gray);
  justify-content: space-between;
  padding: 1rem 0;
  border-radius: 5px;
  div{
    margin: 0 2rem;
    a{
      color: var(--admin-color-blue);
      font-weight: 900;
    }
  }
}

.other-course{
  background-color: var(--user-color-black-op);
}
.course-info-body-info{
  width: calc(60% - 2rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.course-info-body-info-desc{
  h3{

    color: var(--admin-color-gray);
  }
}
.course-info-down{
  width: calc(100% - 6rem);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-info-body-info-other{
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  gap: 1rem;
  align-items: center;
  color: var(--admin-color-gray);
}




.bu-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 900;
  border: 2px solid var(--admin-color-blue);
  color: var(--admin-color-gray);
  background-color: var(--admin-color-blue);
  border-radius: 999px;
  padding: 0.5rem 0;
  cursor: pointer;
  &:hover{
    border: 2px solid var(--admin-color-blue);
    background-color: transparent;
    color: var(--admin-color-blue);
  }
}


.b-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 900;
  border: 2px solid var(--admin-color-blue);
  color: var(--admin-color-white);
  background-color: var(--admin-color-blue);
  border-radius: 5px;
  padding: 0.5rem 0;
  cursor: pointer;
  &:hover{
    border: 2px solid var(--admin-color-blue);
    background-color: var(--admin-color-white);
    color: var(--admin-color-blue);
  }
}

@media screen and (max-width: 1023px) {
  .admin-sidebar {
    width: calc(25% - 1rem);
  }
  .admin-content {
    width: calc(75% - 1rem);
  }
  .admin-sidebar-top {
    justify-content: center;
    h2 {
      display: none;
    }
  }
  .admin-sidebar-body-link {
    a {
      position: relative;
      justify-content: center;
      h6 {
        display: none;
      }
      img {
        margin: 0;
      }
      div{
        position: absolute;
        width: 10px;
        top: 10%;
        left: 10%;
        content: "";
        border-radius: 50%;
      }
    }
  }
  .admin-sidebar-down-account-role {
    display: none;
  }
  .admin-sidebar-down-account {
    justify-content: center;
  }
  .admin-sidebar-down {
    width: calc(100% - 1rem);
  }
  .admin-sidebar-down-account-img {
    overflow: visible;
  }
  .admin-content-top {
    flex-direction: column;
  }
  .admin-content-top-date {
    display: none;
  }
  .admin-content-top-name {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .admin-content-top-search {
    width: calc(100% );

    margin: 1rem auto 0 auto;
    form {
      input {
        padding: 0.5rem;
      }
      button {
        img {
          width: 15px;
        }
      }
    }
  }
  .admin-content-box {
    flex-wrap: wrap;
  }
  .admin-content-box-div {
    width: calc(50% - 0.5rem);
  }
  .admin-content-table {
    flex-direction: column;
  }
  .admin-content-table-div {
    width: 100%;
  }
  .admin-content-table-div-body {
    width: calc(100%);
  }
  .admin-table-row-data-img {
    img {
      border-radius: 50%;
      width: 30px;
    }
  }
  .admin-content-table-div-top , .admin-content-table-form{
    width: calc(100% - 2rem);
    margin: 1rem auto;
  }
  .form-row{
    flex-direction: column;
  }
  .form-row-input{
    width: 100%;
  }
  .admin-table-row-data-img-course {
    width: 40px !important;
  }
  .admin-content-top-name {
    h4 {
        display: flex;
    }
  }
  #MenuBtn{
    display: flex;
  }
  #CloseBtn{
    display: none;
    z-index: 2;
  }
  header{
    position: relative;
    padding: 1rem 0;
  }
  .header-res-btn{
    display: flex !important;
  }
  .header-res{
    z-index: 1;
    top: -100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--user-color-black-op);
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 4rem 0;
    justify-content: center;
    position: absolute;
    color: var(--admin-color-gray);
    div{
      width: 25%;
      display: flex;
      justify-content: center;
      a{
        color: var(--admin-color-gray);
      }
    }
  }
  .header-logo{
    width: calc(80% - 2rem);
    margin: auto;
    justify-content: flex-start;
  }
  .header-btn{
    width: calc(20% - 1rem);
    margin: auto;
    div{
      display: none;
    }
    div.header-res-btn{
      display: flex;
      img{
        width: 40px;
      }
    }
  }
  .header-links{
    display: none;
  }
  .banner{
    flex-direction: column;
    margin: 2rem auto;
    gap: 2rem;
  }
  .banner-right , .banner-left{
    width: 100%;
  }
  .banner-right-top{
    h1{
      font-size: 1.5rem;
    }
  }
  .banner-right-body{
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .course-box-top{
    margin: 2rem auto;
  }
  .course-card , .client-card , .exp-card{
    width: calc(100% - 2rem);
    margin: 1rem auto;
  }
  .exp-card{
    gap: .5rem;
  }
  .course-box-body{
    width: 100%;
    margin: 2rem auto;
  }
  .exp-card-left{
    gap: 2rem;
  }

  .course-box-info{
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-top{
    margin: 2rem auto;
    flex-direction: column;
    gap: 1rem;
    div{
      text-align: center;
      width: 100%;
    }
    div.btn{
      width: calc(50%);
    }
  }
  .footer-body{
    padding: 2rem 0;
    gap: 2rem;
    flex-direction: column;
  }
  .footer-body-main-top{
    justify-content: center;
  }
  .footer-body-main-link{
    align-items: center;
    text-align: center;
  }
  .footer-body-main , .footer-body-link{
    width: 100%;
    align-items: center;
  }
  .course-info-top{
    width: calc(100% - 2rem);
    margin: 2rem auto;
    flex-direction: column;
  }
  .course-info-top-img , .course-info-top-text{
    width: 100%;
    gap: 1rem;
  }
  .course-info-top-text-name , .course-info-top-text-time{
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    h1{
      width: 100%;
    }
  }
  .course-info-down{
    width: calc(100% - 4rem);
    flex-direction: column;
  }
  .course-info-body{
    flex-direction: column-reverse;
    width: calc(100% - 4rem);
    gap: 2rem;
  }
  .course-info-body-video , .course-info-body-info{
    width: 100%;
  }
}
