body {
    background-color:;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.section-nav{
    display: flex;
    width: 100%;
    background-color: gray;
    height: 70px;
    border-radius: 12px;
}