{% extends 'base.html' %}
{% block header %}
    <title>دسته بندی</title>
{% endblock %}
{% block body %}
<body class="admin">
    <div class="admin">

        <div class="panel">
            <div class="sidebar" id="SideBar">
                <div class="sidebar-top">
                    <h1 class="h5">پنل مدیریت</h1>
                    <img id="AdminMnu" src="/static/covers/img/icons8-arrow-50.png" alt="">
                    <img src="/static/covers/img/icons8-arrow-50.png" id="AdminX" alt="">
                </div>
        
                <div class="sidebar-body">
                    <ul>
                        <li >
                            <a href="/admin/dashboard">
                                <img src="/static/covers/img/home-white.png" alt=""> 
                                <h5>خانه</h5>
                            </a>
                        </li>
                        <li  class="side-active-top"><a href="/admin/dashboard/products"><img src="/static/covers/img/bag-white.png" alt="">  <h5>محصولات</h5></a></li>
                        <li class="side-active"><a href="/admin/dashboard/category"><img src="/static/covers/img/folder-blue.png" alt="">  <h5>دسته بندی ها</h5></a></li>
    
                        <li class="side-active-bottom"><a href="/admin/dashboard/carts"><img src="/static/covers/img/cart-white.png" alt="">  <h5>سفارشات</h5></a></li>
                        <li><a href="/admin/dashboard/customers"><img src="/static/covers/img/customer-white.png" alt="">  <h5>کاربران</h5></a></li>
                        <li><a href="/admin/dashboard/cards"><img src="/static/covers/img/card-white.png" alt="">  <h5>کارت بانکی</h5></a></li>
                        <li><a href="/admin/dashboard/campain"><img src="/static/covers/img/megaphone-white.png" alt="">  <h5>کمپین</h5></a></li>
                    </ul>
        
                </div>
                <div class="side-fix">
        
                </div>
        
            </div>
            <div class="panel-content" id="PanelContent">
                <div class="panel-content-top">
                    <h2>سلام رئیس ، خوش اومدی</h2>
                    <h6>اینجا همه اطلاعات رو داریم .</h6>
        
                </div>
                    
                <div class="panel-content-box">
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4>همه محصولات</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h2>{{products_count}}</h2>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4>محصولات فعال</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h2>{{products_active}}</h2>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>            
                    
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4>محصولات غیر فعال</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h2>{{products_notactive}}</h2>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4 >کل فروش</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h3 class="price-usd">{{total_sales}}</h3>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>
                </div>
                <div class="panel-table-box">
                    <div class="table-div">
                        <div class="table-info">
                            <div class="table-info-h">
        
                                <h3>دسته بندی جدید</h3>
                            </div>
                            <div class="table-info-btn">
        
                            </div>
                        </div>
                        <div class="table-content">
                            <form action="" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
                                <div class="div-two-input">
                                    <div class="div-input">
                                        <label for="name" class="h6">نام</label>
                                        <input type="text" name="name" class="h6" placeholder="مثال : ادویه ها ">
                                    </div>
                                    <div class="div-pic">
                                        <label for="pic" class="h6">عکس</label>
                                        <input type="file" name="pic" class="h6" required>
                                    </div>
    
                                </div>
                                <div class="div-submit">
                                    <input type="submit" class="r-btn h6" value="ثبت">
    
                                </div>
    
                            </form>
        
                        </div>
                        
                    </div>
                    <div class="table-div">
                        <div class="table-info">
                            <div class="table-info-h">
        
                                <h3>همه دسته بندی ها</h3>
                            </div>
                            <div class="table-info-btn">
        
                            </div>
                        </div>
                        <div class="table-content">
                            <table>
                                <tbody>
                                    {% for p in category %}
                                    <tr>
                                        <td class="td-20 h6">{{p.id}}</td>
    
                                        <td class="td-40 h6">{{p.name}}</td>
                                        
                        
                                        <td class="td-20 h6 td-edit"><a href="/admin/dashboard/category/{{p.id}}" class="edit">ویرایش</a></td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
        
                        </div>
                        
                    </div>
                    
        
                </div>
                
               
        
            </div>
        
        </div>
    </div>
</body>



{% endblock %}