{% extends 'base.html' %}
{% block header %}
    <title>ویرایش {{product.name}}</title>
{% endblock %}
{% block body %}
<body class="admin">
    <div class="admin">

        <div class="panel">
            <div class="sidebar" id="SideBar">
                <div class="sidebar-top">
                    <h1 class="h5">پنل مدیریت</h1>
                    <img id="AdminMnu" src="/static/covers/img/icons8-arrow-50.png" alt="">
                    <img src="/static/covers/img/icons8-arrow-50.png" id="AdminX" alt="">
                </div>
        
                <div class="sidebar-body">
                    <ul>
                        <li class="side-active-top">
                            <a href="/admin/dashboard">
                                <img src="/static/covers/img/home-white.png" alt=""> 
                                <h5>خانه</h5>
                            </a>
                        </li>
                        <li class="side-active" ><a href="/admin/dashboard/products"><img src="/static/covers/img/bag-blue.png" alt="">  <h5>محصولات</h5></a></li>
                        <li class="side-active-bottom"><a href="/admin/dashboard/category"><img src="/static/covers/img/folder-white.png" alt="">  <h5>دسته بندی ها</h5></a></li>
    
                        <li><a href="/admin/dashboard/carts"><img src="/static/covers/img/cart-white.png" alt="">  <h5>سفارشات</h5></a></li>
                        <li><a href="/admin/dashboard/customers"><img src="/static/covers/img/customer-white.png" alt="">  <h5>کاربران</h5></a></li>
                        <li><a href="/admin/dashboard/cards"><img src="/static/covers/img/card-white.png" alt="">  <h5>کارت بانکی</h5></a></li>
                        <li><a href="/admin/dashboard/campain"><img src="/static/covers/img/megaphone-white.png" alt="">  <h5>کمپین</h5></a></li>
                    </ul>
        
                </div>
                <div class="side-fix">
        
                </div>
        
            </div>
            <div class="panel-content" id="PanelContent">
                <div class="panel-content-top">
                    <h2>سلام رئیس ، خوش اومدی</h2>
                    <h6>اینجا همه اطلاعات رو داریم .</h6>
        
                </div>
                    
                <div class="panel-content-box">
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4>همه محصولات</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h2>{{products_count}}</h2>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4>محصولات فعال</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h2>{{products_active}}</h2>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>            
                    
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4>محصولات غیر فعال</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h2>{{products_notactive}}</h2>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>
                    <div class="content-box ">
                        <div class="content-box-top">
                            <h4 >کل فروش</h4> 
                        </div>                       
                        <div class="content-box-body">
                            <h3 class="price-usd">{{total_sales}}</h3>
                        </div>
        
                        <div class="content-box-down">
                        </div>
                    </div>
                </div>
                <div class="panel-table-box ">
                    <div class="table-div edit-box">
                        <div class="table-info">
                            <div class="table-info-h">
        
                                <h3>ویرایش محصول</h3>
                            </div>
                            <div class="table-info-btn">
                                <a class="w-btn h6" href="{{ url_for('admin.delete_product' , id=product.id ) }}">حذف محصول</a>
                            </div>
                        </div>
                        <div class="table-content">
                            <form action="" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
                                <div class="div-two-input">
                                    <div class="div-input">
                                        <label for="name" class="h6">نام محصول</label>
                                        <input type="text" name="name" class="h6" required value="{{product.name}}" placeholder="example : Amoxicilin 200 mg ">
                                    </div>
                                    <div class="div-input">
                                        <label for="price" class="h6">قیمت</label>
                                        <input type="text" value="{{product.price}}" required class="price-usd-input h6" name="price" id="price" oninput="calculateFinalPrice()" placeholder="example : 999.99">
                                    </div>
    
    
                                </div>
    
                                <div class="div-two-input">
                                    <div class="div-input">
                                        <label for="discount" class="h6">تخفیف</label>
                                        <input type="tel" name="discount" required value="{{product.discount}}" id="discount" class="h6" oninput="calculateFinalPrice()" placeholder="example : 55">
                                    </div>
                                    <div class="div-input">
                                        <label for="finalPrice" class="h6">قیمت نهایی</label>
                                        <input type="text" class="price-usd-input h6" id="finalPrice" readonly placeholder="example : 999.99">
                                    </div>
                                </div>
    
                                <div class="div-one-textarea">
                                    <div class="div-textarea">
                                        <label for="descr" class="h6">توضیحات</label>
                                        <textarea name="descr" class="h6">{{product.descr}}</textarea>
                                    </div>
    
                                </div>
                               
                                <div class="div-two-input">
                                    <div class="div-pic">
                                        <label for="pic1" class="h6">عکس اول</label>
                                        <input type="file" name="pic1" class="h6" >
                                    </div>
                                    <div class="div-pic">
                                        <label for="pic2" class="h6">عکس دوم</label>
                                        <input type="file" name="pic2" class="h6" >
                                    </div>
    
                                </div>
                                <div class="div-two-input div-select-check">
                                    <div class="div-checkbox">
                                        <label for="active" class="h6">فعال</label>
                                        <input type="checkbox" {{ 'checked' if product.active == 1 }} name="active" >
                                    </div>
                                    <div class="div-select">
                                        <label for="category" class="h6">دسته بندی</label>
                                        <select name="category" class="h6" >
                                            <option value="None" class="h6">دسته بندی ندارد</option>
                                            {% for c in category %}
                                            <option class="h6" value="{{c.id}}" {% if c.id == product.category_id %}selected{% endif %}>{{c.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
    
                                </div>
                                {%  if product.is_course == 1 %}
                                <div class="div-two-input div-select-check">
                                    <div class="div-checkbox">
                                        <label for="active" class="h6">دوره</label>
                                        <input type="checkbox" name="is_course" readonly checked  >
                                    </div>
                                    <div class="div-select">
                                        <label for="course_link" class="h6">لینک دوره</label>
                                        <input type="text" class="h6" id="link" name="course_link" value="{{product.course_link}}" placeholder="www.aparat.com">
                                    </div>
    
                                </div>
                                {% else %}
                                <div class="div-one-textarea">
                                    <div class="div-input">
                                        <label for="stock" class="h6">Stock</label>
                                        <input type="text" name="stock" class="h6" value="{{product.stock}}" placeholder="example : 25 ">
                                    </div>
    
                                </div>
                                {% endif %}
                                <div class="div-submit">
                                    <input type="submit" class="r-btn h6" value="ثبت تغییرات">
    
                                </div>
    
                            </form>
        
                        </div>
                        
                    </div>
                    
                    
        
                </div>
                
               
        
            </div>
        
        </div>
    </div>    
</body>



{% endblock %}