{% extends 'base.html' %}
{% block header %}
    <title>پنل مدیریت</title>
    <link rel="manifest" href="/static/js/manifest.json" />

{% endblock %}
{% block body %}
<body style="background-color: #000;">
    
    <div class="login-back">
        <img src="/static/covers/img/logo.png" alt="">


        <div class="admin-login-box">
            <div class="admin-login-box-top">
                <h1>خوش آمدید</h1>
                <h3>دلتنگت بودیم رئیس</h3>
            </div>
            <div class="admin-login-box-body">
                <form enctype="multipart/form-data" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="admin-login-box-form">
                        <label class="h2" for="">نام کاربری</label>
                        <input type="text" class="h2" name="username">
                    </div>

                    <div class="admin-login-box-form">
                        <label class="h2" for="">رمز عبور</label>
                        <input type="password" class="h2" name="password">
                    </div>
                                        
                    <div class="admin-login-box-btn">
                        <input type="submit" value="ورود" class="b-btn h2">
                    </div>


                </form>
            </div>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      // بررسی اینکه آیا اپلیکیشن در حالت Standalone اجرا می‌شود
      const isPWA = window.matchMedia("(display-mode: standalone)").matches;
  
      // اگر کاربر PWA نیست و از مرورگر غیر PWA استفاده می‌کند، به صفحه اطلاع‌رسانی هدایت کنید
      if (!isPWA) {
        // بررسی User-Agent برای مرورگرهای غیر PWA
        const userAgent = navigator.userAgent.toLowerCase();
        const isMobile = /mobile/i.test(userAgent);
        const isSafari = /safari/i.test(userAgent);
  
        // اگر کاربر از مرورگر موبایل غیر PWA (مثل Safari) استفاده می‌کند
        if (isMobile && isSafari) {
          window.location.href = "/pwa";
        }
      }
    });
  </script>
{% endblock %}