{% extends 'base.html' %}
{% block header %}
    <title>درباره خانه برودکست</title>
{% endblock %}
{% block body %}
    <body class="user-home">
        {% include 'parts/header.html'   %}
        <div class="user-main">
            <div class="user-main-top">
                <h1>درباره ما </h1>
            </div>
            <div class="user-main-consults">
               <div class="consults-text">
                    <h2>
                        
                        به وبسایت آموزش برودکست خوش آمدید! ما یک تیم متعهد و حرفه‌ای هستیم که با هدف ارتقاء دانش و مهارت‌های شما در زمینه برودکست و رسانه‌های دیجیتال، این پلتفرم را راه‌اندازی کرده‌ایم.
                        <br>
                        <br>
                        در دنیای امروز، برودکست به یکی از مهم‌ترین ابزارهای ارتباطی تبدیل شده است و ما اینجا هستیم تا به شما کمک کنیم تا در این حوزه به یک حرفه‌ای تبدیل شوید. با دوره‌های آموزشی متنوع و محتوای باکیفیت، ما به شما این امکان را می‌دهیم که از صفر تا صد برودکست را یاد بگیرید و مهارت‌های لازم برای موفقیت در این صنعت را کسب کنید.
<br>
<br>
                        ما به خلاقیت، نوآوری و کیفیت اهمیت می‌دهیم و به همین دلیل، تمامی دوره‌های ما توسط اساتید مجرب و حرفه‌ای طراحی و تدریس می‌شوند. از آموزش‌های مقدماتی تا پیشرفته، ما به شما ابزارها و دانش لازم را ارائه می‌دهیم تا بتوانید در دنیای برودکست بدرخشید.
<br>
<br>
                        به ما بپیوندید و با یادگیری مهارت‌های جدید، آینده‌ای روشن و موفق را برای خود بسازید. ما در کنار شما هستیم تا هر قدم از این مسیر را با شما طی کنیم.
<br>
<br>
                        با ما همراه باشید و به جمع خانواده بزرگ برودکست بپیوندید!

                    </h2>
               </div>
               
                
            </div>
        </div>











        {% include 'parts/footer.html'   %}
    </body>
{% endblock %}