{% extends 'base.html' %}
{% block header %}
    <title>{{blog.name}}</title>
{% endblock %}
{% block body %}
<body class="user-home">
    {% include 'parts/header.html'   %}
    <div class="blog-page">
        <div class="blog-content">
            <div class="blog-top">
                <div class="blog-top-img">
                    <img src="/static/covers/blogs/{{blog.name}}1.webp" alt="{{blog.en_name}}">
                </div>
                <div class="blog-top-text">
                    <div>
                        <h1>
                            {{blog.name}}
                        </h1>
                    </div>
                    <div>
                        <h2 class="h4">


                            در این مقاله به چگونگی {{blog.name}} میپردازیم . همراه ما تا پایان این مقاله باشید . 
                            در پایان این مقاله به تمامی سوالات شما در مورد {{blog.name}} پاسخ میدهیم 
                        </h2>
                    </div>
                    <div >
                        <p class="h5">نویسنده :  {{blog.author}} </p>
                    </div>
                </div>
            </div>
            <div class="blog-body">
                <div class="blog-body-text">
                    <h3>{{blog.long_desc}}</h3>
                </div>
                
                <div class="blog-body-text">
                    <h3>{{blog.long_desc}}</h3>
                </div>
                <div class="blog-body-img">

                    <div>
                        <img src="/static/covers/blogs/{{blog.name}}2.webp" alt="{{blog.name}}">
                    </div>
                   
                </div>




                <div class="faq-box">

                    <div class="faq"> 
                        <details>
                            <summary class="h3">{{blog.question1}}</summary>
                            <p class="h4">{{blog.awnser1}}</p>
                        </details>
                   </div>
                   <div class="faq"> 
                        <details>
                            <summary class="h3">{{blog.question2}}</summary>
                            <p class="h4">{{blog.awnser2}}</p>
                        </details>
                   </div>
                
                </div>
            </div>
        </div>
        <div class="blog-side">
            <div class="blog-side-top">
                <h3>مطالب مرتبط</h3>
            </div>
            <div class="blog-side-body">
                {% for i in blog_list %}

                <article class="course-card  side-blog ">
                    <div class="course-card-img">
                        <a href="/blogs/{{i.name}}">
                
                            <img src="/static/covers/blogs/{{i.name}}1.webp" alt="{{i.name}}">
                        </a>
                    </div>
                    <div class="course-card-info">
                        <div class="course-card-info-name">
                            <a href="/blogs/{{i.name}}" class="h5">{{i.name | truncate(31)}}</a>
                            <p class="h6">{{i.author}}</p>
                        </div>
                        <div class="course-card-info-desc">
                            <p class="h7">
                                {{i.short_desc | truncate(350)}}
                
                            </p>
                        </div>
                        
                    </div>
                </article>

                {% endfor %}
                
                
            </div>
            
        
        </div>
    </div>
    
  
    {% include 'parts/footer.html'   %}
</body>
{% endblock %}