{% extends 'base.html' %}
{% block header %}
    <title>خانه برودکست</title>
{% endblock %}
{% block body %}
<body>
    {% include 'parts/header.html'   %}
    {% include 'parts/banner.html'   %}
    <hr class="hr">
    <div class="course-title"><a href="#" class="course-title-a h2">  دوره های برودکست </a></div> 
    <section class="course-box">
        <article class="course-cart">
             <div class="course-cart-head">
                <img src="/static/InShot_20240403_000705661.jpg" alt="">
             </div>
             <div class="course-cart-body">
                <span class="course-cart-title h4">دوره جامع تنظیم دوربین استودیویی</span>
                <span class="course-cart-text">توضیحات</span>
                <span class="course-cart-price">2.900.000 تومان  </span>
                <div class="course-cart-btn"><a href="/course-info" class="b-btn h5">مشاهده دوره</a></div>
             </div>
            </div>
        </article>
        <article class="course-cart">
            <div class="course-cart-head">
               <img src="/static/InShot_20240403_161236884.jpg" alt="">
            </div>
            <div class="course-cart-body">
               <span class="course-cart-title h4">دوره جامع میکسر تصویر</span>
               <span class="course-cart-text">توضیحات</span>
               <span class="course-cart-price">  3.900.000 تومان</span>
               <div class="course-cart-btn"><a href="/course-info" class="b-btn h5">مشاهده دوره</a></div>
            </div>
           </div>
       </article>
    </section>
</body>
    
{% endblock %}