{% extends 'base.html' %}
{% block header %}
    <title>خانه برودکست</title>
    <meta name="description" content="به وبسایت آموزش برودکست خوش آمدید! ما یک تیم متعهد و حرفه‌ای هستیم که با هدف ارتقاء دانش و مهارت‌های شما در زمینه برودکست و رسانه‌های دیجیتال، این پلتفرم را راه‌اندازی کرده‌ایم.">
{% endblock %}
{% block body %}
<body class="user-home">
    {% include 'parts/header.html'   %}
    {% include 'parts/banner.html'   %}
    {% include 'parts/course-box.html'   %}
    {% include 'parts/client-box.html'   %}
    {% include 'parts/exp-box.html'   %}
    {% include 'parts/blog-box.html'   %}
    {% include 'parts/footer.html'   %}
</body>
    
{% endblock %}