{% extends 'base.html' %}
{% block header %}
    <title>خانه برودکست</title>
{% endblock %}
{% block body %}
<body>
    <header class="container">
        <div class="section-nav">
            <div class="right-nav">
                <a href="" class="h2" >خانه برودکست</a>
            </div>
            <div class="left-nav">
                <ul>
                    <li class="h5"><a href="">دوره ها</a></li>
                    <li class="h5"><a href="">بلاگ ها</a></li>
                    <li class="h5"><a href="">سبد خرید</a></li>
                    <li class="h5"><a href="">پروفایل</a></li>
                </ul>
                
            </div>
        </div>
    </header>
    <div class="banner">
        <div class="right-banner">
            <div class="right-banner-title"><h1>خانه برودکست ایران</h1></div>
            <div class="right-banner-info"><h4> اولین وبسایت حرفه ای آموزشی برودکست ایران</h4></div>
            <div class="right-banner-text"><h5> با ما قراره توی دنیای برودکست سفر کنی پس با ما همراه باش!</h5></div>
            <div class="right-banner-btn">
                <div class="right-banner-btn-div"><a href="#" class="p-btn h5">شروع کنیم</a></div>
                <div class="right-banner-btn-div"><a href="#" class="b-btn h5">بیشتر بدانیم!</a></div>
            </div>
        </div>
        <div class="left-banner">
            <div class="banner-img">
                <img src="/static/logo_p.png" alt="">
            </div>
        </div>
    </div>
</body>
    
{% endblock %}