<div class="banner">
    <div class="right-banner">
        <div class="right-banner-title"><h1>خانه برودکست ایران</h1></div>
        <div class="right-banner-info"><h4> اولین وبسایت حرفه ای آموزشی برودکست ایران</h4></div>
        <div class="right-banner-text"><h5> با ما قراره توی دنیای برودکست سفر کنی پس با ما همراه باش!</h5></div>
        <div class="right-banner-btn">
            <div class="right-banner-btn-div"><a href="#" class="p-btn h5">شروع کنیم</a></div>
            <div class="right-banner-btn-div"><a href="#" class="b-btn h5">بیشتر بدانیم!</a></div>
        </div>
    </div>
    <div class="left-banner">
        <div class="banner-img">
            <img src="/static/logo_p.png" alt="">
        </div>
    </div>
</div>