<section class="client-box">
    <div class="client-box-top">
        <h5>نقل قول</h5>
        <h2>نظر <span>دانشجو</span> های ما </h2>
    </div>
    <div class="client-box-body">
        <article class="client-card">
            <div class="client-card-main">
                <div class="client-card-main-img">
                    <img src="/static/covers/img/quote.png" alt="">
                </div>
                <div class="client-card-main-text">
                    <p class="h4">

                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                                

                    </p>
                </div>
                <div class="tringle"></div>
            </div>
            <div class="client-card-img">
                <div>
                    <img src="/static/covers/img/masoud.jpg" alt="">
                </div>
            </div>
        </article>
        <article class="client-card">
            <div class="client-card-main client-card-main-blue">
                <div class="client-card-main-img">
                    <img src="/static/covers/img/quote.png" alt="">
                </div>
                <div class="client-card-main-text">
                    <p class="h4">

                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                                

                    </p>
                </div>
                <div class="tringle"></div>
            </div>
            <div class="client-card-img">
                <div>
                    <img src="/static/covers/img/masoud.jpg" alt="">
                </div>
            </div>
        </article>
        <article class="client-card">
            <div class="client-card-main">
                <div class="client-card-main-img">
                    <img src="/static/covers/img/quote.png" alt="">
                </div>
                <div class="client-card-main-text">
                    <p class="h4">

                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                                

                    </p>
                </div>
                <div class="tringle"></div>
            </div>
            <div class="client-card-img">
                <div>
                    <img src="/static/covers/img/masoud.jpg" alt="">
                </div>
            </div>
        </article>
    </div>
</section>