<footer>
    <div class="footer-top">
        <div>
            <p class="h3">

                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.



            </p>
        </div>
        <div class="btn">
            <a href="/consults" class="h3 bu-btn">مشاوره</a>
        </div>
    </div>
    <div class="footer-body">
        <div class="footer-body-main">
            <div class="footer-body-main-top">
                <img src="/static/covers/img/logo.png" alt="">
                <p class="h1">خانه برودکست</h2>
            </div>
            <div class="footer-body-main-link">
                <div>
                    <a href="">
                        <span class="h2">تلگرام</span>
                        <span class="h5">در تلگرام میتونی با بقیه دانشجو ها صحبت کنی . </span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <span class="h2">واتساپ</span>
                        <span class="h5">در واتساپ میتونی سوالاتت رو از ما بپرسی . </span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <span class="h2">اینستاگرام</span>
                        <span class="h5">در اینستاگرام میتونی از آخرین خبر ها و تخفیف ها مطلع بشی . </span>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="footer-body-link">
            <div class="footer-body-main-link">
                <div>
                    <a href="">
                        <span class="h2">دوره ها</span>
                        <span class="h5">
                            میتونی همه ی دوره های مارو ببینی 
                        </span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <span class="h2">درخواست مشاوره</span>
                        <span class="h5">
                            
                            میتونی از ما توی کارت مشاوره بگیری ، اونم رایگان 
                        </span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <span class="h2">ثبت نام </span>
                        <span class="h5">
                            
                                میتونی به سادگی توی سایت ما ثبت نلم کنی و دوره ها رو ببینی 
                        </span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <span class="h2">درباره ما </span>
                        <span class="h5">
                            
                            میتونی در مورد ما اطلاعات بدست بیاری و بدونی ما کی هستیم . 
                        </span>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="footer-body-link">
            <div class="footer-body-main-link enamad-center">
                <div>
                    <a href="http://" target="_blank" rel="enamad">
                        <span class="h2">نماد الکترونیک</span>
                        <img src="/static/covers/img/enamad_icon_text_color_blue_1024.png" alt="">
                    </a>
                </div>

                
            </div>
        </div>
        
    </div>
    <div class="footer-down">
        <h4>تمام حقوق مادی و معنوی برای خانه برودکست محفوظ است </h4>
        <h5>طراحی شده توسط <a href="https://blaze-code.ir">گروه برنامه نویسی بلیز کد</a></h5>
    </div>
</footer>