<header>
    <div class="header-logo">
        <a href="/" class="h1">خانه برودکست</a>
    </div>
    <div class="header-links">
        <div class="header-links-div"><a href="" class="h4">دوره ها</a></div>
        <div class="header-links-div"><a href="" class="h4">مشاوره</a></div>
        <div class="header-links-div"><a href="" class="h4">تجربه ها</a></div>
        <div class="header-links-div"><a href="" class="h4">بلاگ ها</a></div>
        <div class="header-links-div"><a href="" class="h4">درباره ما</a></div>
    </div>
    <div class="header-btn">
        <div>
            <a href="" class="h4">ثبت نام</a>
        </div>
        <div>
            <a href="" class="h4 bu-btn">ورود</a>
        </div>
    </div>
</header>