<header class="container">
    <div class="section-nav">
        <div class="right-nav">
            <a href="" class="h2" >خانه برودکست</a>
        </div>
        <div class="left-nav">
            <ul>
                <li class="h5"><a href="">دوره ها</a></li>
                <li class="h5"><a href="">بلاگ ها</a></li>
                <li class="h5"><a href="">سبد خرید</a></li>
                <li class="h5"><a href="">پروفایل</a></li>
            </ul>
            
        </div>
    </div>
</header>