{% extends 'base.html' %}
{% block header %}
    <title>ثبت نام در خانه برودکست</title>
    <meta name="description" content="به وبسایت آموزش برودکست خوش آمدید! ما یک تیم متعهد و حرفه‌ای هستیم که با هدف ارتقاء دانش و مهارت‌های شما در زمینه برودکست و رسانه‌های دیجیتال، این پلتفرم را راه‌اندازی کرده‌ایم.">

{% endblock %}
{% block body %}
<body class="user-home">
        
    <div class="user-login">
        <div class="user-login-div">
            <div class="user-login-div-top">
                <div class="user-login-div-top-img">
                    <img src="/static/covers/img/logo.png" alt="خانه برودکست">
                </div>
                <div class="user-login-div-top-text">
                    <h1>ثبت نام</h1>
                    <h2 class="h4">خانه برودکست</h2>
                </div>
            </div>
            <div class="user-login-div-body">
                <form enctype="multipart/form-data" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="admin-login-box-form">
                        <label class="h2" for="">نام کاربری</label>
                        <input type="text" class="h2" name="username">
                    </div>

                    <div class="admin-login-box-form">
                        <label class="h2" for="">رمز عبور</label>
                        <input type="password" class="h2" name="password">
                    </div>
                                        
                    <div class="admin-login-box-btn">
                        <input type="submit" value="ورود" class="b-btn h2">
                    </div>








                </form>
            </div>
            <div class="user-login-div-down">
                <h3>اکانت دارید ؟ <a href="/user/login">وارد شوید</a></h3>
            </div>
        </div>
    </div>





</body>    










{% endblock %}